@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-100 dark:bg-primary-950 dark:text-primary-50;
    font-size: 14px;
  }

  h1, .h1 {
    font-size: 5rem;
  }

  h2, .h2 {
    font-size: 3.812rem;
  }

  h3, .h3 {
    font-size: 2.938rem;
  }

  h4, .h4 {
    font-size: 2.250rem;
  }

  h5, .h5 {
    font-size: 1.688rem;
  }

  h6, .h6 {
    font-size: 1.312rem;
  }

  p, .p {
    font-size: 1rem;
  }

  .body {
    font-size: 1rem;
  }

  small, .small {
    font-size: 0.850rem;
  }

  hr {
    @apply border-slate-200 dark:border-slate-600
  }
}

@layer components {
  .apply-transition {
    @apply transition-all duration-150 ease-in-out;
  }

  .btn {
    @apply inline-flex items-center justify-center text-center gap-2 body px-6 py-1 h-12 apply-transition rounded-lg;
  }

  .slide-in {
    @apply apply-transition translate-x-0;
    animation: slide-kf .5s ease-in-out forwards;
  }

  @keyframes slide-kf {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .text-input {
    @apply apply-transition bg-white dark:bg-transparent border border-slate-200 dark:border-primary-500 focus:border-primary h-12 px-4 py-2 outline-0 w-full block rounded-md focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-600;
    font-size: 18px;
  }
  .text-input.input-error {
    @apply text-red-500 border-red-500 focus:ring-red-200;
  }

  .text-input-error {
    @apply text-red-500 small mt-1;
  }
}